<!doctype html>
<html>
<head>
  <title>Madlibs Game</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
  What is your name? <input type="text" name="person">
  <input type="submit">
</form>
    <input type="text" name="person">
    <label>Enter a person's name</label>
    <select name="color">
        <option value="magenta">magenta</option>
        <option value="black">black</option>
        <option value="teal">teal</option>
    </select>
    <label>Pick a color:</label>
    <input type="radio" name="noun" value="chinchilla">
    <label>chinchilla</label>
    <input type="radio" name="noun" value="vampire">
    <label>vampire</label>
    <input type="radio" name="noun" value="burrito">
    <label>burrito</label>
    <input type="text" name="adjective">
    <label>Choose an adjective</label>
    
</body>
</html>